In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Similiarityresults.csv")
data = pd.read_csv("sentimentdata.csv")

In [4]:
df.head()

,Unnamed: 0,GPTresponse,Comment text,Similiarity Result
0,0,appears fiancé solid financial foundation debt...,NaN,0.000000
1,1,ideal take advantage 401k match offered employ...,1 save emergency fund 36 months worth expenses...,0.876796
2,2,great able build equity vehicles years based i...,would say depends region live in shooting hip ...,0.907281
3,3,sounds like solid plan place grad school years...,going able help financial specifics experience...,0.924915
4,4,no need exceptionally wealthy start trust fund...,work trust company account minimum 25k managed...,0.916461

In [5]:
data.head()

,Unnamed: 0,GPTresponse,Comment text,gpt_label,comment_label
0,0,appears fiancé solid financial foundation debt...,NaN,neutral,positive
1,1,ideal take advantage 401k match offered employ...,1 save emergency fund 36 months worth expenses...,neutral,neutral
2,2,great able build equity vehicles years based i...,would say depends region live in shooting hip ...,neutral,neutral
3,3,sounds like solid plan place grad school years...,going able help financial specifics experience...,neutral,positive
4,4,no need exceptionally wealthy start trust fund...,work trust company account minimum 25k managed...,neutral,neutral